.shipping {
    @include flex;
    >form {

        @include flex(column, center, stretch, 1rem);
        width: 100%;
        max-width: 450px;
        padding: 2rem;

        >h1 {
            @include heading(2px);
            margin: 2rem;
            text-align: center;
        }

        >input,
        >select {
            padding: 1rem;
            outline: none;
            font-size: 1.05rem;
            border-radius: 5px;
            border: 1px solid rgba(31, 31, 31, 0.351);
        }

        >button {
            @include btn(1rem, $color3, $color1);
            border-radius: 5px;
            font-size: 1.05rem;
            text-transform: uppercase;
            letter-spacing: 2px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

}